<% for(var i = 0; i < responseRecords.length; ++i) { %>
  <li>
    <h4><%= responseRecords[i].title %></h4>
    <div class="row">
      <div  class="col-md-8" >
        <%= responseRecords[i].textFragment %>
      </div>
      <div class = "col-md-4">
        <canvas id="moleculeCanvas<%= i %>" ></canvas>
      </div>
    </div>
  </li>
<% } %>
